In [10]:
http://www.strava.com/oauth/authorize?client_id=71602&response_type=code&redirect_uri=http://localhost/exchange_token&approval_prompt=force&scope=activity:read_all
http://localhost/exchange_token?state=&code=16c111a63327f9436e36685a7fc2217418dcf704&scope=read,activity:read_all

SyntaxError: invalid syntax (<ipython-input-10-da28ed47dc29>, line 1)

In [8]:
import json

In [14]:
a = '''[
        {
            "resource_state": false,
            "athlete": {
                "id": 1966015,
                "resource_state": 1
            }
        }
]'''

In [68]:
data = '''[
        {
            "resource_state": 2,
            "athlete": {
                "id": 1966015,
                "resource_state": 1
            },
            "name": "Ночная ходьба",
            "distance": 6556.8,
            "moving_time": 3971,
            "elapsed_time": 4210,
            "total_elevation_gain": 18.5,
            "type": "Walk",
            "id": 6008219662,
            "external_id": "344e7928-22ea-42ed-8909-8e1bb8d56aa5-activity.fit",
            "upload_id": 6385923558,
            "start_date": "2021-09-23T18:20:07Z",
            "start_date_local": "2021-09-23T21:20:07Z",
            "timezone": "(GMT+02:00) Europe/Kiev",
            "utc_offset": 10800,
            "start_latlng": [
                    50.52032,
                    30.510171
            ],
            "end_latlng": [
                50.520219,
                30.510893
            ],
            "location_city": null,
            "location_state": null,
            "location_country": "Украина",
            "start_latitude": 50.52032,
            "start_longitude": 30.510893,
            "achievement_count": 0,
            "kudos_count": 0,
            "comment_count": 0,
            "athlete_count": 1,
            "photo_count": 0,
            "map": {
                "id": "a6008219662",
                "resource_state": 2
            }
    }
    ]'''

In [71]:
json.loads(data)

[{'resource_state': 2,
  'athlete': {'id': 1966015, 'resource_state': 1},
  'name': 'Ночная ходьба',
  'distance': 6556.8,
  'moving_time': 3971,
  'elapsed_time': 4210,
  'total_elevation_gain': 18.5,
  'type': 'Walk',
  'id': 6008219662,
  'external_id': '344e7928-22ea-42ed-8909-8e1bb8d56aa5-activity.fit',
  'upload_id': 6385923558,
  'start_date': '2021-09-23T18:20:07Z',
  'start_date_local': '2021-09-23T21:20:07Z',
  'timezone': '(GMT+02:00) Europe/Kiev',
  'utc_offset': 10800,
  'start_latlng': [50.52032, 30.510171],
  'end_latlng': [50.520219, 30.510893],
  'location_city': None,
  'location_state': None,
  'location_country': 'Украина',
  'start_latitude': 50.52032,
  'start_longitude': 30.510893,
  'achievement_count': 0,
  'kudos_count': 0,
  'comment_count': 0,
  'athlete_count': 1,
  'photo_count': 0,
  'map': {'id': 'a6008219662', 'resource_state': 2}}]

In [2]:
a = []
if not a:
    a

In [3]:
a = '2021-09-23T18:20:07Z'

In [4]:
a

'2021-09-23T18:20:07Z'

In [6]:
a[:-2]

'2021-09-23T18:20:0'

In [9]:
a = [1,2,3]
[*a, 5,6]
[a,5,6]

[[1, 2, 3], 5, 6]

In [11]:
from dataclasses import dataclass
@dataclass
class Activities:
    activity_type: str
    distance: float
    moving_time: int
    total_time:int
    date: str
    is_private: bool
    average_speed: float
    max_speed: float

In [19]:
a = [Activities("Walk", 6556.8, 3971, 4210, "2021-09-23T18:20:0",
                       True, 1.598, 8.9),
     Activities("Ride", 6556.8, 3971, 4210, "2021-09-23T18:20:0",
                       True, 1.598, 8.9)
     ]

In [13]:
import pandas as pd

In [20]:
pd.DataFrame(a)

,activity_type,distance,moving_time,total_time,date,is_private,average_speed,max_speed
0,Walk,6556.8,3971,4210,2021-09-23T18:20:0,True,1.598,8.9
1,Ride,6556.8,3971,4210,2021-09-23T18:20:0,True,1.598,8.9

In [36]:
person_string = """{
  "activity_type": "Walk",
  "distance": 6556.8,
  "moving_time": 3971,
  "total_time": 4210,
  "date": "2021-09-23T18:20:0",
  "is_private": true,
  "average_speed": 1.598,
  "max_speed": 8.9
}"""

In [37]:
import json
aaa = json.loads(person_string)

In [38]:
Activities(**aaa)

Activities(activity_type='Walk', distance=6556.8, moving_time=3971, total_time=4210, date='2021-09-23T18:20:0', is_private=True, average_speed=1.598, max_speed=8.9)

In [31]:
aaa

{'name': 'Bob', 'age': 25}

In [35]:
a[0]

Activities(activity_type='Walk', distance=6556.8, moving_time=3971, total_time=4210, date='2021-09-23T18:20:0', is_private=True, average_speed=1.598, max_speed=8.9)

In [34]:
dataclasses.

TypeError: make_dataclass() takes 2 positional arguments but 3 were given

In [47]:
a = eval("3 == 3")
b = eval("3 < 2")

In [49]:
all([a, b])

False